<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息详情</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/student.css">

</head>
<body>



<form action="/students/student_list_handle/" METHOD="get" name="s_form" id="s_form">
    <select name="query_method" id="query_method">
        <option value="0">--请选择--</option>
        <option value="1">学号</option>
        <option value="2">姓名</option>
        <option value="3">报名日期</option>
    </select>
    <input type="text" name="query_info">
    <input type="submit" value="搜索">
    <a href="/students/student_list/"><input type="button" value="显示全部"></a>
    <br><br>
</form>
    <table class="student_list_page" border="1px" solid>
        <tr>
            <th width=8%>序号</th>
            <th width=15%>学号</th>
            <th width=10%>姓名</th>
            <th width=17%>报名时间</th>
            <th width=10%>状态</th>
            <th width=20%>出生日期</th>
            <th width=10%>剩余课时</th>
            <th width=10%>操作</th>
        </tr>
        {% for info in student_info %}


        <span><tr>
            <td>{{info.pk}}</td>
            <td>{{info.s_id}}</td>
            <td>{{info.s_name}}</td>
            <td>{{info.s_into}}</td>
            <td>{{info.s_status}}</td>
            <td>{{info.s_birthday}}</td>
            <td>{{info.s_id}}</td>
            <td><a href='/students/student_view_handle/?s_id={{info.s_id}}&id={{info.pk}}'>查看</a>  <a href="#">修改</a></td>
        </tr>
        </span>
        {% endfor %}
        </tr>
    </table>
    


</body>
</html>