<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息基本信息修改</title>
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/student.css">
</head>
<body>
<!--<form action="/students/student_view_handle/" method="get">-->
<!--    <input type="text" name="s_id" id="s_id" >-->
<!--    <input type="submit" value="搜索">-->
<!--&lt;!&ndash;    <a href="/students/student_into/"><input type="button" value="新增"></a>&ndash;&gt;-->
<!--</form>-->
<br>
<ul>
    <form action="/students/student_info_alter/" method="post">
        {% csrf_token%}
    <div class="person_info">学生基本信息修改<input class="fr" type="submit" value=" 修改 "></div>
        <li>姓名：<input type="text" name="s_name" value={{s_name}}></li>
        <li>学号：<input type="text" name="s_id" value="{{s_id}}" readonly="readonly"></li>
        {% if s_gender == "男" %}
        性别：<li>
            男 <input type="radio" name="s_gender" checked = checked value="1">
            女 <input type="radio" name="s_gender" value="0"></li>
        {%else%}
            男 <input type="radio" name="s_gender" value="1">
            女 <input type="radio" name="s_gender" checked = checked value="0"></li>
        {%endif%}
        <li>出生日期：<input type="date" name="s_birthday" value={{s_birthday|date:'Y-m-d'}}></li>
        <li>联系方式：<input type="text" name="s_phone" value={{s_phone}}></li>
        <li>状态：<input type="text" name="s_status" value={{s_status}}></li>
        <li>报名日期：<input type="date" name="s_into" value={{s_into|date:'Y-m-d'}}></li>
        <li>备注：<input type="text" name="s_note" value={{s_note}}></li>

<div class="person_info">收入信息修改</div>

        <li>金额（元）<input type="text" name="m_money" value=""></li>
        <li>报名日期：<input type="date name="m_into_date"></li>
        <li>购买常规课数量：<input type="text" name="m_regular_time"></li>
        <li>购买寒暑假课数量：<input type="text" name="m_special_time"></li>
        <li>优惠情况：<input type="text" name="m_discount_from"></>
        <li>备注:<input type="text" name="m_note"></li>

    </form>
</ul>
<table border="1">
    <tr>
        <ul class="s_show">
            <th width=10% ><li class="s_show">姓名：</li></th>
            <th width=7% ><li class="s_show">学号：</li></th>
            <th width=10% ><li class="s_show">性别：</li></th>
            <th width=15% ><li class="s_show">出生日期：</li></th>
            <th width=10% ><li class="s_show">报名时间：</li></th>
            <th width=10% ><li class="s_show">电话号码：</li></th>
            <th width=10% ><li class="s_show">状态：</li></th>
            <th width=10% ><li class="s_show">备注：</li></th>
        </ul>
    </tr>
    <tr>
        <th><li class="s_show">{{s_info.s_name}}</li></th>
        <th><li class="s_show">{{s_info.s_id}}</li></th>
        <th><li class="s_show">
            {% if s_info.s_gender == "False" %}
            女
            {% else %}
            男
            {% endif %}
        </li></th>
        <th><li class="s_show">{{s_info.s_birthday}}</li></th>
        <th><li class="s_show">{{s_info.s_into}}</li></th>
        <th><li class="s_show">{{s_info.s_phone}}</li></th>

        <th><li class="s_show">
            {% if s_info.s_status == "False" %}
            停课
            {% else %}
            在读
            {% endif %}</li></th>
        <th><li class="s_show">{{s_info.s_note}}</li></th>
    </tr>
</table>
<br>
<div class="pay_info">学生缴费记录
    <br>    <br>
<table border="1">
    <tr>
        <th><li class="s_show">金额：(元)</li></th>
<!--        <th><li class="s_show">m_guid：</li></th>-->
        <th><li class="s_show">缴费日期：</li></th>
        <th><li class="s_show">购买常规课数量：</li></th>
        <th><li class="s_show">购买特殊课数量：</li></th>
        <th><li class="s_show">备注：</li></th>
        <th><li class="s_show">优惠情况：</li></th>
<!--        <th><li class="s_show">s_guid：</li></th>-->
    </tr>
    {% for item in s_money %}
    <tr>
        <td><li class="s_show">{{item.m_money}}</li></td>
<!--        <td><li class="s_show">{{item.pk}}</li></td>-->
        <td><li class="s_show">{{item.m_into_date}}</li></td>
        <td><li class="s_show">{{item.m_regular_time}}</li></td>
        <td><li class="s_show">{{item.m_special_time}}</li></td>
        <td><li class="s_show">{{item.m_note}}</li></td>
        <td><li class="s_show">{{item.m_discount_from}}</li></td>
<!--        <td><li class="s_show">{{item.m_regular_time}}</li></td>-->
    </tr>
    {% endfor %}
</table>
</div>


<br>
<div class="class_info">学生上课记录</div>
<br>

{% for zhl in test %}
{{zhl}}
{% endfor %}
<table border="1">
    <tr>
        <th><li class="s_show">课程主题</li></th>
        <th><li class="s_show">上课时间</li></th>
        <th><li class="s_show">课程消耗数量</li></th>
        <th><li class="s_show">上课班级ID</li></th>
        <th><li class="s_show">上课老师ID</li></th>
<!--        <th><li class="s_show">备注</li></th>-->
    </tr>
    {% for c_s1 in classinfo %}
        {% for item in c_s1 %}
    <tr>

        <td><li class="s_show">{{item.sc_section_theme}}</li></td>
        <td><li class="s_show">{{item.sc_date}}</li></td>
        <td><li class="s_show">{{item.sc_use_time}}</li></td>
        <td><li class="s_show">{{item.sc_bj_id_id}}</li></td>
        <td><li class="s_show">{{item.sc_teacher_name_id}}</li></td>
<!--        <td><li class="s_show">{{classdetail.cd_note}}</li></td>-->

    </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>